<div class="container">
  <h1>Order Form</h1>
</div>
<form>
  <div class="form-group">
    <label>Buyers's Name:</label>
    <input [formControl]="buyername" class="form-control" />
    <label *ngIf="buyername.invalid" [ngClass]="'error'">
      Enter max 15 letters
    </label>
  </div>
  <div class="form-group">
    <label>
      Product Name:
    </label>
    <input [formControl]="prodname" class="form-control" />
  </div>
  <div class="form-group">
    <label>
      Email id:
    </label>
    <input
      [formControl]="email"
      placeholder="name@mail.com"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label>
      Contact No:
    </label>
    <input [formControl]="number" class="form-control" type="number" />
    <label *ngIf="number.invalid" [ngClass]="'error'">
      Min 10 digits
    </label>
  </div>
  <div class="form-group">
    <button class="button btn-success">
      Submit
    </button>
  </div>
</form>
