.error {
  color: red;
}
h1 {
  text-align: center;
}

form {
  border: 3px solid #ccc;
  text-align: center;
  max-width: 500px;
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  border-radius: 20px;
}

/* .myForm{
  
  padding: 20px;
  border: 2px solid;
  margin: 30%;
  height: 500px;
  width:300px;
} */
