h3 {
  border-bottom: 2px solid darkslategray;
  /* padding-left: 10px; */
  /* padding-top: 0px; */
  padding: 0px 0px 10px 10px;
  text-align: center;
}
.trainee-list {
  padding: 10px;
  text-decoration: inherit;
  border-top: 2px solid darkslategray;
}
.card {
  border: 2px solid darkslategray;
  margin-top: 20px;
}
.header {
  font-weight: 700;
  padding: 10px;
  text-transform: uppercase;
}
