<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
     <h1>{{ title }}!</h1>
  </div>
   <div class="row">
    <div class="col-xs-12">
      <div class="row header">
        <div class="col-xs-4">ID</div>
        <div class="col-xs-4">Name</div>
        <div class="col-xs-4">Attendance</div>
        </div>
    </div>
  </div>
  <div class="row trainee-list">
    <div class="col-xs-12">
      <div class="row trainee-item" *ngFor="let trainee of trainees">
        <div class="col-xs-4">{{ trainee.id }}</div>
        <div class="col-xs-4">{{ trainee.name }}</div>
        <div class="col-xs-4">{{ trainee.attendance }}</div>

      </div>
    </div>
  </div>
  </div>

  <router-outlet></router-outlet>
</div>
