<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Event Management</a>
      </div>
      <ul class="nav navbar-nav">
        <li id="profileLabel" class="active"><a href="#">Profile</a></li>
        <li id="eventsLabel"><a href="#">Events</a></li>
        <li id="orderLabel"><a href="#">Orders</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li>
              <button class="btn btn-success">Login</button></li>          
              <li><button class="btn btn-danger">logout</button></li>
        </ul>
    </div>
  </nav>
 
  

