<div>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <span class="navbar-brand"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          Event Management</span>
        <!-- <a class="navbar-brand" href="#">ValueCoders</a> -->
      </div>

      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a>About Us</a></li> -->
        <li>
          <a href="#">Log In
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
        </li>
        <li><a routerLink="/register">Register</a></li>
      </ul>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
  </nav>
</div>
<div class="home jumbotron">
  <div class="container">
    <h1>Make It Happen</h1>
    <h3>Let's Get It Done!</h3>
  </div>
</div>