<div>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <span class="navbar-brand"
          ><span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          Event Management</span
        >
        <!-- <a class="navbar-brand" href="#">ValueCoders</a> -->
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About Us</a></li>
        <li>
          <a href="#"
            >Log In
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span
          ></a>
        </li>
        <li><a href="#">Register</a></li>
      </ul>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
  </nav>
</div>
<div class="home jumbotron">
  <div class="container">
    <h1>Make It Happen</h1>
    <h3>Let's Get It Done!</h3>
  </div>
</div>
<!-- body -->
<div class="body-content">
  <div class="container">
    <h1 id="backHeading">UpComing Events</h1>
    <hr style="border: 1px solid darkslategray;" />
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="bgimg thumbnail">
          <div class="caption">
            <h3>Event 1</h3>
            <p>Book Fair</p>
            <p>
              <a href="#" class="btn btn-primary" role="button"
                ><span
                  class="glyphicon glyphicon-eye-open"
                  aria-hidden="true"
                ></span>
                View</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="bgimg thumbnail">
          <div class="caption">
            <h3>Event 2</h3>
            <p>Shilp Hasth Kala</p>
            <p>
              <a href="#" class="btn btn-primary" role="button"
                ><span
                  class="glyphicon glyphicon-eye-open"
                  aria-hidden="true"
                ></span>
                View</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="bgimg thumbnail">
          <div class="caption">
            <h3>Event 3</h3>
            <p>Car Trade Fair</p>
            <p>
              <a href="#" class="btn btn-primary" role="button"
                ><span
                  class="glyphicon glyphicon-eye-open"
                  aria-hidden="true"
                ></span>
                View</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="bgimg thumbnail">
          <div class="caption">
            <h3>Event 4</h3>
            <p>Home Artifacts Exhibition</p>
            <p>
              <a href="#" class="btn btn-primary" role="button"
                ><span
                  class="glyphicon glyphicon-eye-open"
                  aria-hidden="true"
                ></span>
                View</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="bgimg thumbnail">
          <div class="caption">
            <h3>Event 5</h3>
            <p>Helping Hand for HomeMaker</p>
            <p>
              <a href="#" class="btn btn-primary" role="button"
                ><span
                  class="glyphicon glyphicon-eye-open"
                  aria-hidden="true"
                ></span>
                View</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="bgimg thumbnail">
          <div class="caption">
            <h3>Event 6</h3>
            <p>Health Is Wealth</p>
            <p>
              <a href="#" class="btn btn-primary" role="button"
                ><span
                  class="glyphicon glyphicon-eye-open"
                  aria-hidden="true"
                ></span>
                View</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- body close -->

<!-- Footer -->
<footer class="page-footer font-small unique-color-dark footer-content">
  <div>
    <div>
      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-6 col-lg-12 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0" id="upper-heading-footer">Get connected with us!</h6>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
  </div>

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left mt-5">
    <!-- Grid row -->
    <div class="row mt-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Company</h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <p>
          Here you can use rows and columns to organize your footer content.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <p>
          <a href="#!">MDBootstrap</a>
        </p>
        <p>
          <a href="#!">MDWordPress</a>
        </p>
        <p>
          <a href="#!">BrandFlow</a>
        </p>
        <p>
          <a href="#!">Bootstrap Angular</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <p>
          <a href="#!">Your Account</a>
        </p>
        <p>
          <a href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a href="#!">Shipping Rates</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <p><i class="glyphicon glyphicon-home"></i> New York, NY 10012, US</p>
        <p><i class="glyphicon glyphicon-envelope"></i> info@example.com</p>
        <p><i class="glyphicon glyphicon-earphone"></i> + 01 234 567 88</p>
        <p><i class="glyphicon glyphicon-phone-alt"></i> + 01 234 567 89</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
<!-- <app-events></app-events> -->
<router-outlet></router-outlet>
