<app-header></app-header>
<!-- body -->
<div class="body-content">
  <div class="container">
    <h1 id="backHeading">UpComing Events</h1>
    <hr style="border: 1px solid darkslategray;" />
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="bgimg thumbnail">
          <div class="caption">
            <h3>Event 1</h3>
            <p>Book Fair</p>
            <p>
              <a href="#" class="btn btn-primary" role="button"
                ><span
                  class="glyphicon glyphicon-eye-open"
                  aria-hidden="true"
                ></span>
                View</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="bgimg thumbnail">
          <div class="caption">
            <h3>Event 2</h3>
            <p>Shilp Hasth Kala</p>
            <p>
              <a href="#" class="btn btn-primary" role="button"
                ><span
                  class="glyphicon glyphicon-eye-open"
                  aria-hidden="true"
                ></span>
                View</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="bgimg thumbnail">
          <div class="caption">
            <h3>Event 3</h3>
            <p>Car Trade Fair</p>
            <p>
              <a href="#" class="btn btn-primary" role="button"
                ><span
                  class="glyphicon glyphicon-eye-open"
                  aria-hidden="true"
                ></span>
                View</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="bgimg thumbnail">
          <div class="caption">
            <h3>Event 4</h3>
            <p>Home Artifacts Exhibition</p>
            <p>
              <a href="#" class="btn btn-primary" role="button"
                ><span
                  class="glyphicon glyphicon-eye-open"
                  aria-hidden="true"
                ></span>
                View</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="bgimg thumbnail">
          <div class="caption">
            <h3>Event 5</h3>
            <p>Helping Hand for HomeMaker</p>
            <p>
              <a href="#" class="btn btn-primary" role="button"
                ><span
                  class="glyphicon glyphicon-eye-open"
                  aria-hidden="true"
                ></span>
                View</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="bgimg thumbnail">
          <div class="caption">
            <h3>Event 6</h3>
            <p>Health Is Wealth</p>
            <p>
              <a href="#" class="btn btn-primary" role="button"
                ><span
                  class="glyphicon glyphicon-eye-open"
                  aria-hidden="true"
                ></span>
                View</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- body close -->
<app-events></app-events>
<app-footer></app-footer>
<router-outlet></router-outlet>
